.pytest_cache
.venv
app_backup/
data/
fastAPIserver/
mlflow/
mlflowserver/
streamlit/
streamlitserver/
tests/__pycache__
tests/.pytest_cache
.env
Architecture.png
Frauds_2000.png
README_cicd.md
README_hf.md
README_mlflow.md
README_ref.md
README_tests.md
run.sh
test.json


